body{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 80% auto;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
.list-style {
    background-color: lightgray;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: darkgrey;
}

